@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div id="main" class="col-md-4" style="display:flex; flex-direction:column; align-items:center">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h2>Cadastro Venda</h2>
        <p>
            @*Vivendo como um homem longe da sombra dos Deuses, Kratos se aventura pelas selvagens florestas nórdicas com seu filho*@
        </p>
        <p><a class="btn btn-danger" href="https://store.playstation.com/pt-br/product/UP9000-CUSA07408_00-00000000GODOFWAR">Cadastar &raquo;</a></p>
    </div>
    <div id="main" class="col-md-4" style="display:flex; flex-direction:column; align-items:center">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h2>Cadastro Cliente</h2>
        <p><a class="btn btn-danger" href="https://www.playstation.com/pt-br/ps5/">Cadastrar &raquo;</a></p>
    </div>
    <div id="main" class="col-md-4" style="display:flex; flex-direction:column; align-items:center">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h2>Cadastro Produto</h2>
        <p><a class="btn btn-danger" href="https://www.xbox.com/en-US/accessories/controllers/xbox-wireless-controller">Cadastrar &raquo;</a></p>
    </div>
</div>